<hr />
<div class="forum-bbcode-form">
    <form action="{{ url }}/forum/post/{{ action }}" method="post">
        {% if showName %}
            <div class="form-group">
              <label for="example-text-input" class="col-2 col-form-label">Title</label>
              <div class="col-10">
                <input class="form-control" type="text" value="" name="post_title" id="example-text-input">
              </div>
            </div>
        {% endif %}
        <div class="form-group">
          <div class="col-12">
              <textarea name="editor1" id="editor1" rows="10" cols="80">
                  This is my textarea to be replaced with CKEditor.
              </textarea>
              <div class="forum-bbcode-button"><button type="submit" class="btn btn-primary">Submit</button></div>
          </div>
        </div>
        <input type="hidden" name="id" value="{{ id }}">
    </form>
</div>

<script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    editor = CKEDITOR.replace( 'editor1' );
    editor.addCommand("mySimpleCommand", { // create named command
    exec: function(edt) {
        alert(edt.getData());
    }
});

editor.ui.addButton('SuperButton', { // add new button and bind our command
    label: "Click me",
    command: 'mySimpleCommand',
    toolbar: 'insert',
    icon: 'https://avatars1.githubusercontent.com/u/5500999?v=2&s=16'
});
</script>
